@utility container {
  margin-inline: auto;
  padding-inline: 16px; /* Padding cho mobile */
  
  /* Tại màn hình Laptop (1440px), container sẽ rộng tối đa bao nhiêu? */
  @media (width >= 1440px) {
    max-width: 1400px; /* Ví dụ: Design thường chừa lề 60px mỗi bên */
    padding-inline: 20px;
  }

  /* Tại màn hình Desktop (1920px) */
  @media (width >= 1920px) {
    padding-inline: 0;
    max-width: 1596px; /* Giới hạn nội dung lại cho đẹp */
  }
}